<h1>Hello {{name}}, what happened?</h1>

<div>
    <button id='lost_button'>Lost a Pet</button>
    <button id='found_button'>Found a Pet</button>
    <button id='search_button'>Search for Pet</button>
    {{!--<button id='recovered_button'>Recovered a Pet</button>--}}
</div>

<div id='lost_form_div'></div>
<div id='found_form_div'></div>

<script src=/javascripts/petlost.js async></script>
<script src=/javascripts/petfound.js async></script>
<script src=/javascripts/petsearch.js async></script>
<script src=/javascripts/petrecovered.js async></script>